/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #87ceeb;
    background-image: url("../img/home-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    background-color: #4169e1; 
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #eee;
    padding: 10px 0;
}
 
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    cursor: pointer;
}

nav ul li:hover {
    font-weight: bold;
    color: #000080;
}

nav ul li a {
    color: #1e90ff;
    text-decoration: none;
}

h2 {
    border-bottom: 2px solid #000;
    cursor: pointer;
}

h2:hover {
    font-weight: none;
}

div{
    border: none;
    border-radius: 5px;
    padding: 25px;
    margin: auto;
    background-color: #4682b4;
}

.div {
    border: none;
    border-radius: 3px;
    padding: 25px;
    margin: auto;
    background-color: #ffffff90;
}

main {
    padding: 20px;
}

button {
    background-color: #b0e0e6;
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #00f;
    color: #f5fffa;
}

footer {
    background-color: #4169e1;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Specific Styles */
section {
    margin-bottom: 20px;
}
 